<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0.0">

    <queries>

        <intent>
            <action android:name="host.intent.action.MEDIA"/>
        </intent>
    </queries>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_compass"
        android:resizeableActivity="true"
        android:label="指令转发-${applicationId}">
        <activity android:name="com.pqixing.music.WelComeActivity"
                  android:exported="true"

                  android:launchMode="standard">
        </activity>

        <receiver
            android:name="com.pqixing.music.BYDMediaReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="transform.intent.action.MEDIA"/>

                <action android:name="byd.intent.action.MEDIA_MODE"/>
                <action android:name="byd.intent.action.MEDIA_BUTTON"/>
                <action android:name="kg.intent.action.MEDIA_BUTTON"/>
                <action android:name="byd.intent.action.KILL_KUGOU"/>
                <action android:name="com.byd.action.FUNCTION_UPDATE_RESULT"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_MODE"/>
                <action android:name="com.byd.action.AUTOVOICE_SEARCH_PLUS"/>
                <action android:name="com.kg.action.AUTOVOICE_SEARCH_PLUS"/>
                <action android:name="com.byd.action.AUTOVOICE_RECOMMEND"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_RANDOM"/>
                <action android:name="com.byd.action.AUTOVOICE_BOOK"/>
                <action android:name="com.byd.action.AUTOVOICE_UNBOOK"/>
                <action android:name="com.byd.action.AUTOVOICE_OPEN_LYRIC"/>
                <action android:name="com.byd.action.AUTOVOICE_CLOSE_LYRIC"/>
                <action android:name="com.byd.action.AUTOVOICE_REVERSE"/>
                <action android:name="com.byd.action.AUTOVOICE_ORDER"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_MODE"/>
                <action android:name="com.byd.action.AUTOVOICE_JUMP_TO"/>
                <action android:name="com.byd.action.AUTOVOICE_FORWARD"/>
                <action android:name="com.byd.action.AUTOVOICE_REWIND"/>
                <action android:name="com.byd.action.AUTOVOICE_FULL_SCREEN"/>
                <action android:name="com.byd.action.AUTOVOICE_UNFULL_SCREEN"/>
                <action android:name="com.byd.action.AUTOVOICE_SPEED_ADJUST"/>
                <action android:name="com.byd.action.AUTOVOICE_SKIP_TITLE"/>
                <action android:name="com.byd.action.AUTOVOICE_SKIP_END"/>
                <action android:name="com.byd.action.AUTOVOICE_DOWNLOAD"/>
                <action android:name="com.byd.action.AUTOVOICE_UNDOWNLOAD"/>
                <action android:name="com.byd.action.AUTOVOICE_QUIT"/>
                <action android:name="com.byd.action.AUTOVOICE_DEFINITION_SET"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_FAVORITE"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_LIKE"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_BOOK"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_DOWNLOAD"/>
                <action android:name="com.byd.action.AUTOVOICE_COLLECT"/>
                <action android:name="com.byd.action.AUTOVOICE_UNCOLLECT"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_LATELY"/>
                <action android:name="com.byd.action.AUTOVOICE_PLAY_SONG_SHEET"/>
                <action android:name="com.byd.action.AUTOVOICE_OPEN_LIST"/>
                <action android:name="com.byd.action.AUTOVOICE_CLOSE_LIST"/>
                <action android:name="kugou.intent.action.update.byd.metadata"/>
                <action android:name="kugou.intent.action.update.byd.playback.progress"/>
                <action android:name="com.byd.action.query_tri_part_account_state"/>
                <action android:name="com.byd.action.byd_account_state_change"/>
                <action android:name="com.byd.action.byd_account_go_tripart_login_page"/>
                <action android:name="byd.intent.action.AUTO_PLAY"/>
                <action android:name="com.byd.action.AUTOVOICE_ACTIVECARE"/>
                <action android:name="com.byd.action.AUTOVOICE_BOOK"/>
                <action android:name="com.byd.action.AUTOVOICE_QUALITY"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>